face_recognition/images/Tilen/originals/*.jpg filter=lfs diff=lfs merge=lfs -text
face_recognition/images/Tadej/originals/*.jpg filter=lfs diff=lfs merge=lfs -text
face_recognition/images/Tadej/processed/*.jpg filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
